*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
}
#lista-filmes{
    display:flex;
    justify-content:start;
    flex-wrap: wrap;
    text-align:center;
}
.card {
    width: 15vw;
    margin: 2%;
    transition: width 1s;
  }
.card img{
    height: 40vh;
}
.card:hover {
    width: 17vw;
}
.btnDetalhesFilme{
    margin: 5vh;
    border: 2vh;
    border-color: rgb(0, 0, 0);
}

